.mulu > div{ margin:1% -3%}
.xiazaishuoming {
    border: 1px dashed #008CFF;
    padding: 4%;
    border-radius: 5px;
    line-height: 2em;
    color: #6d6d6d;
    background: #F6F7F8;
}
legend {
    color: #ffffff;
    width: 30%;
    text-align: center;
    background-color: #008cff;
    border-radius: 5px;
}
/*html*/
.html {
    display: flex;
}
.box.b2-radius.b2-mg {
    padding: 0 0;
    border: none !important;
}
.cosercount {
    float: right;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    color: #fff;
}
/*tag*/
.html ul li {
    width: 16.666%;
}
.html .box.b2-radius.b2-mg {
    height: 145px
}
.html .b2-mg img {
    height: 145px ;
    border-radius: 3px;
}
.cosername {
    position: relative;
    top: -35px;
    color: #fff;
}
/*wenzhang*/
.entry-content > h2 {
    margin: 6% 0 2%;
    text-align: center;}
.entry-content img {
    width: 31.3%;
    margin: 1%
}
/*side*/
.html-widget {
    padding: 0;
    margin-bottom: 1.5em;
}
.tags-widget ul li {
    width: 33.33%;
    padding: 0;
}
.single-bottom {padding: 3%;margin-bottom: 16px;}
.single-bottom h3 {border-bottom: 1px solid #ebeef5;}
.single-bottom h3 span {display: inline-block;padding-bottom: 15px;border-bottom: 2px solid #206aff;}
.xgart-row {overflow: hidden;}
.xgart-row li {width: 23%;float: left;display: flex;align-items: center;margin: 7px 1%;}
.xgart-row li a {font-size: 14px;display: inline-block;flex: 1;overflow: hidden;text-overflow: ellipsis;text-align:center;}
.xgart-title {height: 3em;padding: 3%;overflow: hidden;}
@media screen and (max-width: 768px){
.html ul li {
    width: 33.33%;
}
.insert-post.b2-radius.post {
    width: 100%;
}
.html {
    flex-flow: column;
}
.b2-widget-hot li.widget-post-big {
    width: 50%;
    display: inline-block;
    padding: 20px 5px;
}
.xgart-row li {width: 48%;}
.entry-content img {
    width: 48%}
}
img.hejitu { width: 100%;}
